.block {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 15px 17px;
	border-radius: 7px;
	background: #f4f4f4;
	cursor: pointer;
}
.block img {
	width: 24px;
}
.block span {
	color: #181818;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.active {
	background: #18c653;
}
.active span {
	color: #fff;
}

@media (max-width: 768px) {
	.block {
		min-width: fit-content;
		justify-content: center;
	}
	.block span {
		font-size: 14px;
	}
}
